<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is file upload page</p>
    <div>
    	<h4>Upload yout data file:-</h4>
    	<input type= "file">
    </div>
  </body>
</html>
